.idea/
.venv/
temp.py
Downloads/
src/__pycache__/
__pycache__/
database.db
*.log
matrice_sources.xlsx
logs/
*.zip
~$matrice_sources - Copie.xlsx
matrice_sources - Copie.xlsx
.idea/workspace.xml
.gitignore
